In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('../data/initial_data/SMOKING_TOB_1990_2019_PREV.CSV')
df.head()

,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,val,upper,lower
0,Age-Standardized Smoking Prevalence,1,Global,1,Male,29,15+ years,1990,0.450607,0.453930,0.446915
1,Age-Standardized Smoking Prevalence,1,Global,2,Female,29,15+ years,1990,0.106411,0.108623,0.104415
2,Age-Standardized Smoking Prevalence,1,Global,3,Both,29,15+ years,1990,0.278179,0.280235,0.276236
3,Age-Standardized Smoking Prevalence,1,Global,1,Male,29,15+ years,1991,0.447212,0.450214,0.443670
4,Age-Standardized Smoking Prevalence,1,Global,2,Female,29,15+ years,1991,0.105164,0.107276,0.103293

In [32]:
df_smoking = df[['location_name', 'val', 'year_id', 'sex_name', 'age_group_name']]
df_smoking.head()

  location_name       val  year_id sex_name age_group_name
0        Global  0.450607     1990     Male      15+ years
1        Global  0.106411     1990   Female      15+ years
2        Global  0.278179     1990     Both      15+ years
3        Global  0.447212     1991     Male      15+ years
4        Global  0.105164     1991   Female      15+ years

In [35]:
regions = ['Global', 'Southeast Asia, East Asia, and Oceania', 'East Asia', 'Southeast Asia', 'Oceania',
           'Central Europe, Eastern Europe, and Central Asia', 'Central Asia', 'Central Europe',
           'Eastern Europe', 'High-income', 'High-income Asia Pacific', 'Southern Latin America',
           'High-income North America', 'Latin America and Caribbean', 'Caribbean', 'Andean Latin America',
           'Tropical Latin America', 'North Africa and Middle East', 'Sub-Saharan Africa', 'Central Sub-Saharan Africa',
           'Eastern Sub-Saharan Africa', 'Southern Sub-Saharan Africa', 'South Africa', 'Western Sub-Saharan Africa',
           'Western Europe','Central Latin America']
sex = 'Female' 
year = 1990 #It should vary from 1990 to 2019. You should change this variable
df_smoking = df_smoking[df_smoking['age_group_name'] == '15+ years']
df_smoking = df_smoking[~df_smoking['location_name'].isin(regions)]
df_smoking['val'] = df_smoking['val']*100


for year in range(1990, 2020):
    df_smoking = df_smoking[df_smoking['sex_name'] == sex]
    df_smoking = df_smoking[df_smoking['year_id'] == year]
    df_subset = df_smoking[['location_name', 'val']]
    path = '../data/world_map/world_map_' + str(year) + '_' + sex + '.CSV'
    df_subset.to_csv(path, index=False)