In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/initial_data/SMOKING_TOB_1990_2019_PREV.CSV')
df.head()

,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,val,upper,lower
0,Age-Standardized Smoking Prevalence,1,Global,1,Male,29,15+ years,1990,0.450607,0.453930,0.446915
1,Age-Standardized Smoking Prevalence,1,Global,2,Female,29,15+ years,1990,0.106411,0.108623,0.104415
2,Age-Standardized Smoking Prevalence,1,Global,3,Both,29,15+ years,1990,0.278179,0.280235,0.276236
3,Age-Standardized Smoking Prevalence,1,Global,1,Male,29,15+ years,1991,0.447212,0.450214,0.443670
4,Age-Standardized Smoking Prevalence,1,Global,2,Female,29,15+ years,1991,0.105164,0.107276,0.103293

In [5]:
df_smoking = df[['location_name', 'val', 'year_id', 'sex_name', 'age_group_name']]
df_smoking.head()

  location_name       val  year_id sex_name age_group_name
0        Global  0.450607     1990     Male      15+ years
1        Global  0.106411     1990   Female      15+ years
2        Global  0.278179     1990     Both      15+ years
3        Global  0.447212     1991     Male      15+ years
4        Global  0.105164     1991   Female      15+ years

In [8]:
df_smoking = df_smoking[df_smoking['age_group_name'] == '15+ years']
df_smoking['val'] = df_smoking['val']*100
df_smoking = df_smoking[df_smoking['sex_name'] == "Female"]
df_subset = df_smoking[['location_name', 'val', 'year_id']]
path = '../data/multiline_data/multiline_chart_Female.CSV'
df_subset.to_csv(path, index=False)