In [2]:
import pandas as pd

In [30]:
df = pd.read_csv('../data/initial_data/SMOKING_TOB_1990_2019_NUM_SMOKERS_updated.CSV')
df.head()

,location_name,sex_name,age_group_name,year_id,val,sub_super_region,super_region
0,Global,Male,15+ years,1990,803101467.1,Global,Global
1,Global,Female,15+ years,1990,189148834.0,Global,Global
2,Global,Both,15+ years,1990,992250301.2,Global,Global
3,Global,Male,15+ years,1991,813897216.4,Global,Global
4,Global,Female,15+ years,1991,190537545.1,Global,Global

In [34]:
super_regions = ['Southeast Asia, East Asia, and Oceania',
            'Central Europe, Eastern Europe, and Central Asia', 'High-income',
            'Latin America and Caribbean', 'North Africa and Middle East',
            'South Asia', 'Sub-Saharan Africa']
regions = ['Global', 'Southeast Asia, East Asia, and Oceania', 'East Asia', 'Southeast Asia', 'Oceania',
           'Central Europe, Eastern Europe, and Central Asia', 'Central Asia', 'Central Europe',
           'Eastern Europe', 'High-income', 'High-income Asia Pacific', 'Southern Latin America',
           'High-income North America', 'Latin America and Caribbean', 'Caribbean', 'Andean Latin America',
           'Tropical Latin America', 'North Africa and Middle East', 'Sub-Saharan Africa', 'Central Sub-Saharan Africa',
           'Eastern Sub-Saharan Africa', 'Southern Sub-Saharan Africa', 'South Africa', 'Western Sub-Saharan Africa',
           'Western Europe','Central Latin America']
sex = 'Male' 
df_smoking = df[df['super_region'] != 'Global']
df_smoking = df_smoking[df_smoking['location_name'] != df_smoking['sub_super_region']]
df_smoking = df_smoking[df_smoking['age_group_name'] == '15+ years']
df_smoking = df_smoking[~df_smoking['location_name'].isin(regions)]
df_smoking = df_smoking[df_smoking['sex_name'] == sex]

for region in super_regions:
    df_smoking = df_smoking[df_smoking['super_region'] == region]
    df_smoking = df_smoking.rename(columns={'val': 'value'})
    df_smoking = df_smoking.rename(columns={'year_id': 'date'})
    df_smoking = df_smoking.rename(columns={'sub_super_region': 'category'})
    df_smoking = df_smoking.rename(columns={'location_name': 'name'})
    df_subset = df_smoking[['date', 'name', 'category', 'value']]
    path = '../data/barchart_data/barchart_' + region + '_' + sex + '.CSV'
    df_subset.to_csv(path, index=False)